main {
    padding: 0 12.5%;
    background-color: #1C1C1C;
    color: white;
    min-height: 750px;
    display: flex;
    align-items: center;


    
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem;
        
        .card {
            flex-basis: calc(100% / 6);  
            margin: 1.5rem 10px;
            transition: transform 0.25s;

                &:hover {
                    transform: scale(1.05);
                }

                img {
                    display: block;
                    height: 200px;
                    width: 200px;
                    cursor: pointer;         
                }


                h4 {
                    width: 200px;
                    text-transform: uppercase;
                    font-size: 15px;
                    text-align: center;
                }       
        
            }
    }
    
    

    .btn-blue {
        background-color: #0282F9;
        padding: 10px 30px;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
            color: #0282F9;
            background-color: #fff;
        }
    }
}